.Nav {
  background-color: black;
  min-width: fit-content;
  min-width: 8rem;
}

.Nav ul {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Nav li {
  text-align: center;
}

.Nav a {
  color: lightblue;
}
