.Projects {
  color: hsl(0, 0%, 10%);
  min-width: 25rem;
  overflow: hidden;
}

.Projects h1 {
  width: fit-content;
  margin-block: 1rem;
  margin-inline: auto;
  font-size: 3rem;
  font-weight: 600;
}
